<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="login-container">

        <div class="login-box">

            <h1>Disaster Management System</h1>

            <p class="subtitle">
                AI-Powered Adaptive Evacuation System
            </p>

            <form method="POST" action="/">

                <label>Username</label>
                <input type="text" name="username" placeholder="Enter username" required>

                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password" required>

                <button type="submit">LOGIN</button>

            </form>

        </div>

    </div>

</body>
</html>